<launch>

<!-- SBG topics to Odemetry topic && TF through Geonav_transform node-->
    <include file="$(find ulysse_tf)/launch/sbg_geonav_transform.launch"/>

<!-- MBES to IMU TF-->
  <node pkg="tf" type="static_transform_publisher" name="mbes_to_imu" args="0.2172 -0.0205 -0.1768 0 0 0 1 imu mbes 1" />

<!-- Ulysse marker-->
  <node pkg="ulysse_tf" type="boat_simulator.py" name="boat_marker"/>

</launch>
