<launch>

  <rosparam command="load" file="$(find ulysse_starter)/cfg/configuration.yaml"/>

  <node pkg="diagnostic_aggregator" type="aggregator_node" name="diagnostic_aggregator">
    <rosparam file="$(find ulysse_starter)/cfg/analyzers.yaml" command="load" />
  </node>

  <node pkg="ulysse_navigation" type="controller.py" name="controller" />
  <node pkg="ssv_computing" type="celerity.py" name="celerity"/> 
  <node pkg="ublox_gps" type="ublox_manual_head_cumputing.py" name="gps"/> 
  <node pkg="mbes" type="mbes_to_ros_from_socket.py" name="r2sonic"/> 

    <include file="$(find ulysse_starter)/launch/filters.launch"/>

<!--IMU-->
    <include file="$(find sbg_driver)/launch/examples/sbg_ekinox.launch"/>

    <include file="$(find ulysse_starter)/launch/tf_starter.launch"/>

<!-- "tcp://10.0.1.20:4003" pour la connection directe à l'autopilote; udp://10.0.1.111:14552@14555 pour mavproxy -->
<!--Mavproxy : $ mavproxy.py -master=tcp:10.0.1.20:4003 -out=127.0.0.1:14551 -out=10.0.1.88:14552-->

    <arg name="fcu_url" default="udp://127.0.0.1:14551@14555" />
  <include file="$(find mavros)/launch/apm2.launch">
    <arg name="fcu_url" value="$(arg fcu_url)" />
  </include>
</launch>
