<launch>


  <node pkg="ulysse_tf" type="sbg_to_odom.py" name="sbg_to_odom" />

  <node pkg="geonav_transform" type="geonav_transform_node" name="geonav_transform">
    <rosparam param="datum">[-3.015725510, 48.2001401410, 0.0]</rosparam>
    <rosparam param="base_link_frame_id">imu</rosparam>
    <rosparam param="utm_frame_id">map</rosparam>
  </node>



</launch>
